merged-three-column/233_Abtracts_People_Sessions/Sessions_Sessions_aas233_20-Feb-2019-12-15-09/session_v1.0.11.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT AC_DATA (SITE_URL, PROGRAMS?, SESSIONS?)>
<!ELEMENT SITE_URL (#PCDATA)>
<!ELEMENT PROGRAMS (PROGRAM+)>
<!ELEMENT PROGRAM (NAME, START_DATE, END_DATE, DAILY_START_TIME, DAILY_END_TIME, TIME_INTERVAL)>
<!ATTLIST PROGRAM
  program_id CDATA #REQUIRED
>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT START_DATE (DAY_NAME, YEAR, MONTH, DAY)>
<!ELEMENT DAY_NAME (#PCDATA)>
<!ELEMENT YEAR (#PCDATA)>
<!ELEMENT MONTH (#PCDATA)>
<!ELEMENT DAY (#PCDATA)>
<!ELEMENT END_DATE (DAY_NAME, YEAR, MONTH, DAY)>
<!ELEMENT ROLE_CLOSES (DAY_NAME, YEAR, MONTH, DAY)>

<!ELEMENT DAILY_START_TIME (HOUR, MINUTE, AM_PM)>
<!ELEMENT HOUR (#PCDATA)>
<!ELEMENT MINUTE (#PCDATA)>
<!ELEMENT AM_PM (#PCDATA)>
<!ELEMENT DAILY_END_TIME (HOUR, MINUTE, AM_PM)>
<!ELEMENT TIME_INTERVAL (#PCDATA)>

<!ELEMENT SESSIONS (SESSION+)>
<!ELEMENT SESSION (LEVEL_NAME, SESSION_TITLE, SESSION_ABBR, SESSION_TYPE, SESSION_TRACK, SESSION_TRACK_DESCRIPTION?, SESSION_TRACK2USER_ROLES?, SESSION_TRACK_OWNERS?, SESSION_TRACK_DETAILS?, SYMPOSIA_NAME, SESSION_NOTES, SESSION_NOTES_ADMIN, SESSION_SPONSOR, SESSION_EXPECTED_ATTENDANCE, SESSION_ACTUAL_ATTENDANCE, SESSION_LEARNING_OBJ_01, SESSION_LEARNING_OBJ_02, SESSION_LEARNING_OBJ_03, SESSION_NEEDS, SESSION_DATE?, SESSION_START_TIME?, SESSION_END_TIME?, SESSION_PROPOSAL_DATE_SUBMITTED?, SESSION_PROPOSAL_TIME_SUBMITTED?, SESSION_CREATOR, SESSION_DURATION_MINUTES?, SESSION_LOCATION?, SESSION_OWNERS?, SESSION_HOSTS?, REVIEWS?, SESSION_DETAILS?, PRESENTATIONS?, SYSTEM_TAGS?)>
<!ATTLIST SESSION
  sess_id CDATA #REQUIRED
  itin_level_id CDATA #REQUIRED
  parent_itin_level_id CDATA #REQUIRED
  program_id CDATA #REQUIRED
  csid CDATA #REQUIRED
  kind CDATA #REQUIRED
  in_ip CDATA #REQUIRED
  is_invited (false | true) #REQUIRED
  is_ticketed (false | true) #REQUIRED
  show_abstract_times (false | true) #REQUIRED
  session_status (draft | returned_to_draft | deleted | submitted | resubmitted | scored | decisioned_rejected | decisioned_accepted | sessioned | withdrawn | admin_created) #REQUIRED
>
<!ELEMENT LEVEL_NAME (#PCDATA)>
<!ELEMENT SESSION_TITLE (#PCDATA)>
<!ELEMENT SESSION_ABBR (#PCDATA)>
<!ELEMENT SESSION_TYPE (#PCDATA)>
<!ELEMENT SESSION_TRACK (#PCDATA)>
<!ELEMENT SESSION_TRACK_DESCRIPTION (#PCDATA)>
<!ELEMENT SESSION_TRACK2USER_ROLES (SESSION_TRACK2USER_ROLE*)>
<!ELEMENT SESSION_TRACK_OWNERS (SESSION_TRACK_OWNER+)>
<!ELEMENT SESSION_TRACK_DETAILS (SESSION_TRACK_DETAIL+)>
<!ELEMENT SYMPOSIA_NAME (#PCDATA)>
<!ELEMENT SESSION_NOTES (#PCDATA)>
<!ELEMENT SESSION_NOTES_ADMIN (#PCDATA)>
<!ELEMENT SESSION_SPONSOR (#PCDATA)>
<!ELEMENT SESSION_EXPECTED_ATTENDANCE (#PCDATA)>
<!ELEMENT SESSION_ACTUAL_ATTENDANCE (#PCDATA)>
<!ELEMENT SESSION_LEARNING_OBJ_01 (#PCDATA)>
<!ELEMENT SESSION_LEARNING_OBJ_02 (#PCDATA)>
<!ELEMENT SESSION_LEARNING_OBJ_03 (#PCDATA)>
<!ELEMENT SESSION_NEEDS (#PCDATA)>
<!ELEMENT SESSION_DATE (DAY_NAME, YEAR, MONTH, DAY)>
<!ELEMENT SESSION_START_TIME (HOUR, MINUTE, AM_PM)>
<!ELEMENT SESSION_END_TIME (HOUR, MINUTE, AM_PM)>

<!ELEMENT SESSION_PROPOSAL_DATE_SUBMITTED (DAY_NAME, YEAR, MONTH, DAY)>
<!ELEMENT SESSION_PROPOSAL_TIME_SUBMITTED (HOUR, MINUTE, AM_PM)>
<!ELEMENT SESSION_CREATOR (FNAME, MNAME?, LNAME, EMAIL?)>
<!ATTLIST SESSION_CREATOR
  person_id CDATA #REQUIRED
>

<!ELEMENT SESSION_DURATION_MINUTES (#PCDATA)>
<!ELEMENT SESSION_LOCATION (ROOM, VENUE)>
<!ELEMENT ROOM (#PCDATA)>
<!ELEMENT VENUE (#PCDATA)>

<!ELEMENT SESSION_TRACK2USER_ROLE (ROLE_NAME?, DISPLAY_DEADLINE?, ROLE_CLOSES?)>
<!ELEMENT DISPLAY_DEADLINE (DAY_NAME, YEAR, MONTH, DAY)>

<!ELEMENT SESSION_TRACK_OWNER (FNAME, LNAME, EMAIL, INST?, ROLE_NAME)>
<!ATTLIST SESSION_TRACK_OWNER
  person_id CDATA #REQUIRED
  order CDATA #REQUIRED
>
<!ELEMENT SESSION_TRACK_DETAIL (NAME, DATA?)>
<!ELEMENT SESSION_OWNERS (SESSION_OWNER+)>
<!ELEMENT SESSION_OWNER (SAL, FNAME, MNAME, LNAME, DEGREE, DEPT, INST, ADDRESS_1, ADDRESS_2, CITY, STATE, STATE_ABBREV, POSTAL_CODE, COUNTRY, EMAIL, PHONE, FAX, INVITATION?)>
<!ELEMENT SESSION_HOSTS (SESSION_HOST+)>
<!ELEMENT SESSION_HOST (ROLE_NAME, FNAME, MNAME, LNAME, DEGREE, DEPT, INST, ADDRESS_1, ADDRESS_2, CITY, STATE, STATE_ABBREV, POSTAL_CODE, COUNTRY, EMAIL, PHONE, FAX, INVITATION?)>
<!ATTLIST SESSION_HOST
  order CDATA #REQUIRED
  person_id CDATA #REQUIRED
>
<!ELEMENT ROLE_NAME (#PCDATA)>
<!ELEMENT SAL (#PCDATA)>
<!ELEMENT FNAME (#PCDATA)>
<!ELEMENT MNAME (#PCDATA)>
<!ELEMENT LNAME (#PCDATA)>
<!ELEMENT DEGREE (#PCDATA)>
<!ELEMENT DEPT (#PCDATA)>
<!ELEMENT INST (#PCDATA)>
<!ELEMENT ADDRESS_1 (#PCDATA)>
<!ELEMENT ADDRESS_2 (#PCDATA)>
<!ELEMENT CITY (#PCDATA)>
<!ELEMENT STATE (#PCDATA)>
<!ELEMENT STATE_ABBREV (#PCDATA)>
<!ELEMENT POSTAL_CODE (#PCDATA)>
<!ELEMENT COUNTRY (#PCDATA)>
<!ELEMENT EMAIL (#PCDATA)>
<!ELEMENT PHONE (#PCDATA)>
<!ELEMENT FAX (#PCDATA)>

<!ELEMENT REVIEWS (AVG_SCORE?, STD_DEV?, REVIEW+)>
<!ELEMENT AVG_SCORE (#PCDATA)>
<!ELEMENT STD_DEV (#PCDATA)>
<!ELEMENT REVIEW (REVIEWER, CONFLICT_FL, COMMENT, USER_DEFINED, USER_DEFINED_2, USER_DEFINED_3, USER_DEFINED_4, COMMENT_TO_AUTHOR)>
<!ELEMENT REVIEWER (REVIEWER_FIRSTNAME, REVIEWER_MIDDLENAME, REVIEWER_LASTNAME)>
<!ATTLIST REVIEWER
  person_id CDATA #REQUIRED
>
<!ELEMENT REVIEWER_FIRSTNAME (#PCDATA)>
<!ELEMENT REVIEWER_MIDDLENAME (#PCDATA)>
<!ELEMENT REVIEWER_LASTNAME (#PCDATA)>
<!ELEMENT DISREGARD_FL (#PCDATA)>
<!ELEMENT CONFLICT_FL (#PCDATA)>
<!ELEMENT COMMENT (#PCDATA)>
<!ELEMENT USER_DEFINED (#PCDATA)>
<!ELEMENT USER_DEFINED_2 (#PCDATA)>
<!ELEMENT USER_DEFINED_3 (#PCDATA)>
<!ELEMENT USER_DEFINED_4 (#PCDATA)>
<!ELEMENT COMMENT_TO_AUTHOR (#PCDATA)>

<!ELEMENT SESSION_DETAILS (SESSION_DETAIL+)>
<!ELEMENT SESSION_DETAIL (NAME, DATA)>
<!ELEMENT DATA (#PCDATA)>

<!ELEMENT PRESENTATIONS (PRESENTATION+)>
<!ELEMENT PRESENTATION (FINAL_ID, DOI?, DURATION, PRESENTATION_START_TIME?, PRESENTATION_END_TIME?, ((TITLE, ABSTRACT_CATEGORY?, STATUS, DECISION_STATUS, WITHDRAWN_FROM_SESSION?, DESC, USER_DEFINED_1, CONTACT_AUTHOR?, AUTHORS?, BODY?, IMAGES?, ABSTRACT_DETAILS?, TABLES?, SESSION_ABSTRACT_DETAILS?) | (TITLE?, DESC?)))>
<!ATTLIST PRESENTATION
  id CDATA #REQUIRED
  sess_sort CDATA #REQUIRED
  control_id CDATA #REQUIRED
  type (placeholder | abstract) #REQUIRED
>

<!ELEMENT STATUS (#PCDATA)>
<!ELEMENT DECISION_STATUS (#PCDATA)>
<!ELEMENT FINAL_ID (#PCDATA)>
<!ELEMENT DOI (#PCDATA)>
<!ELEMENT USER_DEFINED_1 (#PCDATA)>
<!ELEMENT WITHDRAWN_FROM_SESSION (#PCDATA)>
<!ELEMENT PRESENTATION_START_TIME (HOUR, MINUTE, AM_PM)>
<!ELEMENT PRESENTATION_END_TIME (HOUR, MINUTE, AM_PM)>
<!ELEMENT DURATION (#PCDATA)>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT DESC (#PCDATA)>

<!ELEMENT ABSTRACT_CATEGORY (CATEGORY_GROUP+)>
<!ELEMENT CATEGORY_GROUP (CATEGORY, SUB_CATEGORY?)>
<!ELEMENT CATEGORY (#PCDATA)>
<!ATTLIST CATEGORY
  category_id CDATA #REQUIRED>
<!ELEMENT SUB_CATEGORY (#PCDATA)>
<!ATTLIST SUB_CATEGORY
  sub_category_id CDATA #REQUIRED>

<!ELEMENT CONTACT_AUTHOR (SAL, FNAME, MNAME, LNAME, DEGREE, DEPT, INST, ADDRESS_1, ADDRESS_2, CITY, STATE, STATE_ABBREV, POSTAL_CODE, COUNTRY, EMAIL, PHONE, FAX)>

<!ELEMENT AUTHORS (AUTHOR+)>
<!ELEMENT AUTHOR (FNAME, MNAME, LNAME, EMAIL, DEGREE, AFFILIATIONS?, INVITATION?)>
<!ATTLIST AUTHOR
    order CDATA #REQUIRED
    person_id CDATA #REQUIRED
    presenter (true | false) #REQUIRED
>
<!ELEMENT AFFILIATIONS (AFFL+)>
<!ATTLIST AFFL
    author_order CDATA #REQUIRED
    number CDATA #REQUIRED
>
<!ELEMENT AFFL (DEPT, INST, CITY, STATE, COUNTRY)>


<!ELEMENT INVITATION (INVITATION_STATUS, DATE_ACCEPTANCE_DECLINE, DECLINE_REASON, DATE_INVITATION_CLOSE, 
                      EMAIL_TEMPLATE_NAME, MESSAGE_TEMPLATE_NAME, ROLE, LAST_SENT, DATE_LAST_SENT, CUSTOM_MESSAGE, DETAILS?)
>
<!ATTLIST INVITATION
  id CDATA #REQUIRED
>
<!ELEMENT INVITATION_STATUS (#PCDATA)>
<!ELEMENT DATE_ACCEPTANCE_DECLINE (YEAR, MONTH, DAY)>
<!ELEMENT DECLINE_REASON (#PCDATA)>
<!ELEMENT DATE_INVITATION_CLOSE (YEAR, MONTH, DAY, HOUR, MINUTE, AM_PM)>
<!ELEMENT EMAIL_TEMPLATE_NAME (#PCDATA)>
<!ELEMENT MESSAGE_TEMPLATE_NAME (#PCDATA)>
<!ELEMENT ROLE (#PCDATA)>
<!ELEMENT LAST_SENT (#PCDATA)>
<!ELEMENT DATE_LAST_SENT (YEAR, MONTH, DAY)>
<!ELEMENT CUSTOM_MESSAGE (#PCDATA)>
<!ELEMENT DETAILS (DETAIL+)>

<!ELEMENT DETAIL (DETAIL_NAME, RESPONSE_NAME*, RESPONSE_VALUE*, DATE_DETAIL_RESPONSE*, FILE_LOCATION*)>
<!ATTLIST DETAIL
  id CDATA #REQUIRED
>
<!ELEMENT DETAIL_NAME (#PCDATA)>
<!ELEMENT RESPONSE_NAME (#PCDATA)>
<!ELEMENT RESPONSE_VALUE (#PCDATA)>
<!ELEMENT DATE_DETAIL_RESPONSE (YEAR, MONTH, DAY, HOUR, MINUTE, AM_PM)> 

<!ELEMENT BODY (SECTION+)>
<!ELEMENT SECTION (SECTION_NAME, TEXT)>
<!ATTLIST SECTION
    part_of_body CDATA #REQUIRED
>
<!ELEMENT SECTION_NAME (#PCDATA)>
<!ATTLIST SECTION_NAME
    bold (true | false) #REQUIRED
    italic (true | false) #REQUIRED
    underline (true | false) #REQUIRED
    name_appears (true | false) #REQUIRED
>
<!ELEMENT TEXT (#PCDATA)>

<!ELEMENT IMAGES (IMAGE+)>
<!ELEMENT IMAGE (IMAGE_NAME, DESCRIPTION, CAPTION, FILE_LOCATION)>
<!ELEMENT IMAGE_NAME (#PCDATA)>
<!ELEMENT DESCRIPTION (#PCDATA)>
<!ELEMENT CAPTION (#PCDATA)>
<!ELEMENT FILE_LOCATION (#PCDATA)>

<!ELEMENT ABSTRACT_DETAILS (ABSTRACT_DETAIL_GROUP+)>
<!ELEMENT ABSTRACT_DETAIL_GROUP ((ABSTRACT_DETAIL+))>
<!ATTLIST ABSTRACT_DETAIL_GROUP
  id CDATA #REQUIRED
>
<!ELEMENT ABSTRACT_DETAIL ((ABSTRACT_DETAIL_NAME, ABSTRACT_DETAIL_RESPONSE_NAME, ABSTRACT_DETAIL_RESPONSE_VALUE, ABSTRACT_DETAIL_FILE_LOCATION*))>
<!ATTLIST ABSTRACT_DETAIL
  id CDATA #REQUIRED
>
<!ELEMENT ABSTRACT_DETAIL_NAME (#PCDATA)>
<!ELEMENT ABSTRACT_DETAIL_RESPONSE_NAME (#PCDATA)>
<!ELEMENT ABSTRACT_DETAIL_RESPONSE_VALUE (#PCDATA)>
<!ELEMENT ABSTRACT_DETAIL_FILE_LOCATION (#PCDATA)>

<!ELEMENT TABLES (TABLE+)>
<!ELEMENT TABLE (TABLE_TITLE, TABLE_CONTENT, TABLE_FOOTER)>
<!ELEMENT TABLE_TITLE (#PCDATA)>
<!ELEMENT TABLE_CONTENT (#PCDATA)>
<!ELEMENT TABLE_FOOTER (#PCDATA)>

<!ELEMENT SESSION_ABSTRACT_DETAILS (SESSION_ABSTRACT_DETAIL+)>
<!ELEMENT SESSION_ABSTRACT_DETAIL (NAME, DATA)>

<!ELEMENT SYSTEM_TAGS (SYSTEM_TAG+)>
<!ELEMENT SYSTEM_TAG (TAG_NAME, TAG_VALUE)>
<!ELEMENT TAG_NAME (#PCDATA)>
<!ELEMENT TAG_VALUE (#PCDATA)>
